@use'../../scss/var' as vars;

.content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: vars.$color;

}

.description {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.description span {
  color: vars.$h2;
  font-family: vars.$font-family2;
  font-size: vars.$font-size3;
}

p.description {
  font-family: vars.$font-family;
  font-size: vars.$font-size3;
  color: vars.$bg-color;
  font-style: italic;
  padding: 3% 0 4%;
  margin: 0 auto;
  width: 75%;
}

.specifications {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: auto;

  background-color: vars.$color;
}

.specifications__title {
  display: flex;
  flex-direction: column;
}

.specifications__title h2 {
  white-space: nowrap;
  font-size: vars.$font-size3;
  color: vars.$h2;
  font-style: italic;

}

ul.specifications__list {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  padding: 3% 7% 4%;
  border-right: 2px solid vars.$h2;
}

li {
  font-family: vars.$font-family;
  font-size: vars.$font-size3;
  color: vars.$bg-color;

}

.specifications__descriptions {
  display: flex;
  flex-direction: column;
}

.specifications__descriptions h3 {
  padding-left: 9%;
  font-size: vars.$font-size3;
  color: vars.$h2;
  font-style: italic;
}

.specifications__descriptions p {
  padding-left: 5%;
  font-family: vars.$font-family;
  font-size: vars.$font-size3;
  color: vars.$bg-color;
  font-style: italic;
}

.gallery {
  position: relative;
  top: 0;
  left: 0;
  max-width: 1920px;
  width: 100%;
  height: auto;
  background-color: vars.$color;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  padding: 8px 0 12px;
}

.imageContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 25%;
  overflow: hidden;
  height: 300px;
  margin: 4px;
  background-color: vars.$bg-color;
  color: vars.$bg-color;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  opacity: 0.75;

}

.imageContainer:hover {
  transform: scale(1.02);
  box-shadow: 0 0 8px 2px rgba(1, 1, 1, 0.872);
  cursor: pointer;
  color: vars.$color;
  opacity: 1;
}

.imageContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.imageContainer p {
  position: relative;
  top: 0;
  left: 0;
  font-size: vars.$font-size3;
  font-family: vars.$font-family;
  padding: 0 3px;
}

.imageContainer span {
  position: relative;
  top: 0;
  left: 0;
  font-size: vars.$font-size3;
  font-family: vars.$font-family;
  color: vars.$h4;
  text-transform: uppercase;
  padding: 3px 3px 4px;
}

p.description {
  position: relative;
  top: 0;
  left: 0;
  width: 75%;
  font-size: vars.$font-size3;
  font-family: vars.$font-family;
  color: vars.$bg-color;
  font-style: italic;
  margin: 0 auto;
  padding: 3%0 4%
}

.description span {
  color: vars.$h2;
  font-family: vars.$font-family2;
}
