@use '../../scss/var' as vars;

.header {
  position: relative;
  top: 0;
  left: 0;
  background-color: vars.$bg-color;
  color: vars.$h1;
  text-align: center;
  width: 100%;
  height: auto;
}

.header.poster {
  background-image: url('../../images/poster.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.logo {
  position: relative;
  top: 18px;
  left: 28px;
  max-width: 120px;
  width: 100%;
  height: 80px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 17px;
    border: groove 2px vars.$color;
    box-shadow: 0 0 10px vars.$color;
  }
}

.contacts {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

button.phone,
button.email {
  border: none;
  background: none;
  margin-right: 20px;
}

a.links {
  font-size: vars.$font-size3;
  font-family: vars.$font-family;
  color: vars.$h2;
  margin-right: 20px;
  text-decoration: none;

  &:hover {
    color: vars.$h1;
  }
}

.title {
  font-size: vars.$font-size1;
  font-family: vars.$font-family2;
  color: vars.$h1;
  margin-top: 20px;
}

.slogan {
  font-size: vars.$font-size2;
  font-family: vars.$font-family;
  font-style: italic;
  color: vars.$h2;
  margin-top: 10px;
}

