$color:#212121;
$bg-color:#ffffff;
$h1:#fcfc04;
$h2:#f8b610;
$h3:#000000;
$h4:#7c0202;
$font-size1:calc(9px + 3.625vw);
$font-family2: 'dancing script', cursive;
$font-family: 'Roboto', sans-serif;
$font-size1:calc(9px + 3.625vw);
$font-size2:calc(9px + 1.625vw);
$font-size3:calc(9px + 0.625vw);
