$bg-color:#f3f3f3;
$color:#000000;
$h1:#fce704;
$h2:#d09603;
$h3:#1c1c1c;
$font-size1:calc(9px + 3.625vw);
$font-family2: 'dancing script', cursive;
$font-family: 'Roboto', sans-serif;
$font-size1:calc(9px + 3.625vw);
$font-size2:calc(9px + 1.625vw);
$font-size3:calc(9px + 0.625vw);
